.container {
    margin-top: 8%;
    margin-bottom: 8%;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, #249aa1 0%, #2b66be 100%);
    box-shadow: 0px 0px 4px 2px rgba(36, 154, 161, 0.4);
}
