@tailwind base;
@layer base {
    h1 {
        @apply md:text-3xl text-2xl md:font-bold font-semibold;
    }
    h2 {
        @apply md:text-2xl text-xl md:font-semibold font-medium;
    }
    h3 {
        @apply md:text-xl text-lg md:font-medium font-normal;
    }
    p {
        @apply text-gray text-lg py-2 leading-7;
    }
    ul,
    ol {
        margin-left: 2em;
        list-style: revert;
        color: #959595;
    }
    a {
        @apply cursor-pointer text-gray hover:text-white hover:underline;
    }
}
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    background-color: #111111;
    color: white;
    font-family: Fira Code, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
}

* {
    box-sizing: border-box;
}



@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: #111111;
        background-color: #111111;
    }
}
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #959595 #111111;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #111111;
}

*::-webkit-scrollbar-thumb {
    background-color: #959595;
    border-radius: 5px;
    border: 1.5px solid #111111;
}
